{# Add tasks in column based on current time and tasks field #}
{% if (name == 'tasks') %}
    {% for task in value %}
        <a href="{{ model_view._build_url_for('admin:details', request, task) }}">
            {{ task.title }}

            {% if (task.starting and task.deadline) %}
                <br/>- {{ task.starting.strftime("%Y-%m-%d %H:%M:%S") }}
            {% endif %}
            {% if (task.starting and task.deadline) %}
                <br/>- {{ task.deadline.strftime("%Y-%m-%d %H:%M:%S") }}
            {% endif %}
        </a><br/>
    {% endfor %}
{% else %}
    {% for elem, formatted_elem in zip(value, formatted_value) %}
        <a href="{{ model_view._build_url_for('admin:details', request, elem) }}">({{ formatted_elem }})</a><br/>
    {% endfor %}
{% endif %}
